.no-fav{
    text-align: center;
    font-size: 40px;
    margin-top: 13%;
    padding: 40px;
    display: block;
    background: rgb(83, 81, 81);
    width: 600px;
    margin-left: 35%;
    border-radius: 20px;
    margin-right: 50%;
    
}