.proceed-interview-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.interview-time{
    margin-top: 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 50%;
    border: 2px solid yellowgreen;
    margin-bottom: 40px;
    
}
.interview-time span{
    animation: beats 1s infinite;
}

@keyframes beats {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0.3;
        transform: scale(1.6);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.interview-ques-container{
    height: 65vh;
    width: 80%;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow: 8px 8px gray;
}

.interview-ques{
    height: 30%;
    color: white;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgb(79, 200, 23),rgb(27, 96, 2));
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0%;
}
.option-container{
    height: 333px;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.option-container div:nth-child(4){
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.option-container div{
    height: 82px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 19px;

}
.wrong-option{
   background-color: rgb(250, 110, 110);
   color: white;
}
.wrong-option span{
    border: 4px solid rgb(239, 6, 6);
    margin-right: 20px;
    padding: 8px;
    color: rgb(253, 253, 253);
    font-weight: 600;
    border-radius: 50%;
    width: 20px;
    text-align: center;
}
.correct-option{
    background-color: greenyellow;
}
.interview-option span{
    border: 4px solid rgb(44, 119, 11);
    margin-right: 20px;
    padding: 8px;
    color: green;
    font-weight: 600;
    border-radius: 50%;
    width: 20px;
    text-align: center;
}

.interview-ans-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    box-shadow: 30px 30px #ffbb1c;
    height: 400px;
    opacity: 0.7;
    width: 500px;
    margin-top: 10%;
    justify-self: center;
    border-radius: 50px;
}

.interview-ans-container span{
    font-size: 35px;
    margin-bottom: 20px;
    color: green;
}

.interview-ans-container a{
    text-decoration: none;
    margin-top: 50px;
    color: white;
    background-color: #38b6ff;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out 0.3s;
}
.interview-ans-container a:hover{
    width: 135px;
}